@model IEnumerable<BRSK_Test.Data.Models.ModelGroup.ModelGroup>

@{
    ViewData["Title"] = "BrandModels";
}
@foreach (var group in Model)
{
    <h3>@group.Brand.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th></th>
            </tr>
        </thead>

        @foreach(var item in group.Models)
        {
             <tbody>
                <tr style="opacity:@(item.Active? "1" : "0.5")">
                    <th scope="row">@item.Id</th>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@item.Name</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@group.Brand.Name</td>
                    <td>
                        <a class="btn btn-sm btn-primary ms-1" asp-controller="Model" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-danger ms-1" asp-controller="Model" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
             </tbody>
        }
    </table>
}



